#new-quote {
    float: right;
    border: none;
    background-color: darkblue;
    color: white;
    font-size: 18px;
    font-family: Calibri;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}
 #new-quote:hover {
    background-color: blue;
 }